<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=city.monday.location%> <%= city[day].day %> Weather</h1>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Day</th>
          <th>Location</th>
          <th>Weather</th>
          <th>Feellike</th>
          <th>POP</th>
          <th>Wind</th>
        </tr>
      </thead>
      <tbody>
        <!-- First loop : iterating an object called 'city[day]' to extract weather information-->
        <tr>
          <% for(const info in city[day]) { %>
          <td><%= city[day][info]%></td>
          <% }%>
        </tr>
      </tbody>
    </table>
  </body>
</html>
